<div class="dashboard">

  <div class="naslov">
  <h1>Admin panel</h1>
  </div>
  <hr>

  <div class="button-div">
    <a routerLink="/api/ProizvodjacView">
      <button mat-raised-button class="proizvodjac" color="primary">Proizvodjaci</button>
    </a>
    <a routerLink="/api/TipProizvodaView">
      <button mat-raised-button class="tip" color="primary">Tipovi proizvoda</button>
    </a>

    <a routerLink="/api/ProizvodView">
      <button mat-raised-button class="proizvod" color="primary">Proizvodi</button>
    </a>

    <br />
    
    <a routerLink="/api/RacunView">
      <button mat-raised-button class="racun" color="primary">Racuni</button>
    </a>
    
    <a routerLink="/api/KupcaView">
      <button mat-raised-button class="kupac" color="primary">Kupci</button>
    </a>
    
  </div>

</div>


