h1,
h2{
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}
.text {
  position: relative;
  background-color: antiquewhite;
}
.btn{
  margin: 0;
  position: absolute;

  top: 150%;
  left: 48%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}
