.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background:rgba(201, 180, 250, 0.9);
}

.main {
  margin: 0 10px;
  width: 650px;
  height: 280px;
  background:rgba(201, 180, 250, 0.9);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.signup form {
  position: relative;
  width: 100%;
  height: 100%;
}

.signup label {
  display: block;
  margin-bottom: 5px;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.signup .input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10px;
}

.mat-form-field {
  height: 20px;
  justify-content: center;
  background: #e0dede;
  margin: 5px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

input {
  height: 20px;
  background: #e0dede;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#nameOnCard {
  width: 555px;
}

.signup .form-control {
  flex: 1;
  margin-right: 5px;
}

.signup #nameOnCard {
  margin-right: 0;
}

button {
  width: 30%;
  height: 40px;
  margin: 20px 5px;
  justify-content: center;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #48e025;
}

.submit-button {
  float: right;
  background-color: #c224088a;
  color: #ffffff;
}

.mat-error {
  font-size: 10px;
  color: red;
}

.mat-form-field-invalid .mat-input-container input {
  border-color: red;
}
.text-danger{
  font-size: 14px;
  color: red;
}


.row.mb-3 {
  margin-bottom: 20px;

}

.form-floating {
  width: 170px;
}
#cardNum{
  width: 239px;
}

.form-floating .form-control {
  position: relative;
  align-items: center;
  padding: 10px;
  background-color: #e0dede;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-floating .form-control label {
  font-weight: bold;
  color: #000;
}

.move-right {
  margin-left: 25px; /* Adjust the value as needed */
}

.container{
  align-items: baseline;
  display:inline-block;
  justify-content: space-between;
}
